
/*	some classes		*/
.alert {
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
	background-color: #FFE6DE;
	text-align: center;
}

.error {
	border: 1px solid red;
}
.success {
	border: 1px solid green;
}

/*############################################
#	Index.php
############################################*/

/* header */
#header {
	box-shadow: 2px 15px 10px rgba(0,0,0, 0.7);
	background-color: #fff;
	height: 12vh;
	z-index: 999;
}

.header-content {
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*	Mobile menu  */
.mobile-menu {
	color: #00f;
	font-size: 25px;
	padding: 10px;
}

.mobile-nav-toggle {
	border: 0;
	z-index: 9998;
	background: none;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: left;
}
.mobile-nav-toggle i {
  color: #00f;
}
.mobile-nav-overly, .mobile-pro-overly, .mobile-ans-overly   {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(33, 38, 42, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}
.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav {
    position: fixed;
    width: 50%;
	float: left;
    top: 85px;
    bottom: 20px;
    z-index: 9998;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}
.mobile-nav .flex-menu {
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav * {
  margin: 0;
  padding: 10;
  list-style: none;
}

.header-content img {
	width: 30px;
	height: 30px;
}

.social-networks {
	position: relative;
	top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.social-networks a {
	padding: 5px;
	color: #00f;
  	line-height: 1px;
  	border-radius: 30px;
  	text-decoration: none;
  	transition: 0.3s;
}

.social-networks a:hover, .social-networks i:hover, .mobile-menu i:hover{
	transition: 0.3s;
	background-color: #00f;
	color: #fff;
}

.social-networks span .status {
	margin-left: 8px;
	color: #f00;
	font-size: 15px;
	background-color: #fff;
}

.social-networks i {
	font-size: 20px;
	color: blue;
	margin: 10px;
}

/*	main 	*/
#main {
	position: relative;
	margin-top: 100px;
	padding: 10px;
	background-color: #f7fbfe;
}



.titles {
	font-family: Poppins, sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
}

.titles i{
	color: #00f;
}

#apropos {
	width: 50%;
	font-family: 
}

.flex-menu {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}

.flex-menu span {
	padding: 15px;
	text-align: center;
}

.flex-menu span a {
	text-decoration: none;
}

.flex-menu span i{
	padding: 5px;
	color: #00f;
	font-size: 50px;
}

@media (max-width: 768px) {
	.flex-menu span i{
		font-size: 40px;
	}
}

.flex-menu span i:hover {
	transition: all 0.7s;
	background-color: #00f;
	color: #fff;
}

.flex-menu span i.signout, .flex-menu span i.signout:hover {
	color: #000;
	background-color: #fff;
}

.login-form{
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
}

.signin-form {
	margin-top: 10px;
	background-color: rgba(0,0,255,0.2);
	padding: 10px;
	border-radius: 4px;
}

.login-form .form-group, .signin-form .form-group {
	padding-bottom: 8px;
}

.btn-submit { 
	position: relative;
	top: 30px;
}

@media (max-width: 768px) {

	#apropos {
		width: 100%;
	}
}

/* 	footer 	*/


.copyright {
	text-align: center;
	padding: 20px;
	margin: 20px;
}

/*############################################
#	chat
############################################*/
.chatBody {
	display: flex;
	justify-content: space-between;
}

.chatBody .flex-menu {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	float: left;
}

.chatBody .flex-menu i{
	font-size: 25px;
}


#newDiscuss {
	margin-bottom: 15px;
}
#newDiscuss button {
	width: 20%;
	margin: auto;
}
#newDiscuss textarea {
	resize: vertical;
	height: 250px;
	max-height: 300px;
}

#chatbox, #board {
	background-color: #fff;
}

#chats {
	border-radius: 4px;
	background-color: #f7fbfe;
	padding: 4px;
}
#chats h3{
	color: #00f;
}
#chats h3 small, #chats .mychat small {
	font-size: 14px;
}

#chats .mychat {
	color: #00AD18;
}

#chats p{
	text-align: justify;
}
#chats .no_answer {
	border-bottom: 1px solid #f00;
	box-shadow: 1px 5px 4px #f00;
}

#problem {
	background-color: #FFE6DE;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	overflow-y: scroll;
	height: 150px;
}

#problem h2, .mobile-pro h2 {
	color: #f00;
	font-size: 20px;
	font-family: Poppins sans-serif;
}
#problem p, .mobile-pro p {
	padding: 15px;
	text-align: justify;
}


#mydiscuss {
	background-color: #CED5FF;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	overflow-y: scroll;
	height: 170px; 
}

#mydiscuss h2, .problem-in-mobile h2 {
	color: #00f;
	font-size: 20px;
	font-family: Poppins sans-serif;
}
#mydiscuss li button:hover {
	background-color: #00f;
	color: #fff;
}

#answer {
	position: relative;
	bottom: 0px;
	display: inline-block;
}

#answer textarea{
	resize: none;
	width: 350px;
	height: 200px;
}
#answer button, .mobile-ans button {
	background-color: #00f;
}
#answer button:hover, .mobile-ans button:hover {
	background-color: #0f0;
}

#answer button i, .mobile-ans button i{
	font-size: 20px;
	color: #fff;
}

/*#### 	Mobile #####*/
.mobile-problem, .mobile-answer {
	background-color: #f00;
	border-radius: 20px;
	color: #fff;
	z-index: 9998;
	position: fixed;
	right: 0px;
	top: 350px;
}
.mobile-answer {
	background-color: #00f;
	top: 410px;
}

/* 	Button ? on chat*/
.mobile-pro-active, .mobile-ans-active {
  overflow: hidden;
}

.mobile-pro, .mobile-ans {
    position: fixed;
    width: 80%;
    margin: 0 auto;
	float: left;
    top: 10px;
    bottom: 20px;
    z-index: 9998;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 10px;
 	background-color: #FFE6DE;
}

.mobile-pro-active .mobile-pro, .mobile-ans-active .mobile-ans {
  opacity: 1;
  visibility: visible;
}

.mobile-pro *, .mobile-ans * {
  margin: 0;
  padding: 10;
  list-style: none;
}

/* 	Button send on chat*/
.mobile-ans {
	background-color: #f7fbfe;
	text-align: center;
}
.mobile-ans textarea {
	resize: vertical;
	height: 500px;
	max-height: 500px;
	margin-bottom: 10px;
}
